body {
	width: 180px;
	height: 250px;
}

.provider-block {

}

@font-face {
    font-family: Fabfelt;
    src: url(assets/fonts/FabfeltScript-Bold.otf);
}

.provider-title {
	position: relative;
	font-family: Fabfelt;
	top: 15px;
	left: 5px;
	font-size: 15px;
}

.provider-icon {
	height: 75px;
	position: relative;
}

/* For TinyTools Toggle Switch */

.ToggleSwitch {
	position: relative !important;
	bottom: 28px;
	left: 5px;
	width: 75px !important;
	height: 18px !important;
}

.NubDark {
	background: linear-gradient(to bottom,#fff 0%,#bbb 100%) !important;
}

/* End TinyTools Toggle Switch */